body {
    font-family: sans-serif;
    padding: 10%;
    background-color: cyan;
}

.banner {
    align-self: center;
    box-shadow: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 5px 5px 0px 0px;
}

.container {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
}

img {
    max-width: 100%;
    border-radius: 5px;
}

#title {
    margin-top: 20px;
    margin-left: 1.5%;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    margin: 1.5%;
}

.subtitle {
    margin-top: 5%;
    margin-left: 1.5%;
    font-weight: 500;
}

label {
    font-weight: 800;
    font-size: 20px;
    margin-left: 1.5%;
}

span {
    display: flex;
}

.title {
    font-size: 44px;
}

#playto {
    font-size: 20px;
    padding: 1%;
    margin: 1.5%;
}




button {
    display: flex;
    margin: 1.5%;
}

#p1Display {
    padding-right: 1.5%;
}

#p2Display {
    padding-left: 1.5%;
}

#p1Button {
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

#p2Button {
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

#reset {
    background-color: rgb(180, 246, 180);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
}

.enable-p1btn {
    background-color: rgb(100, 100, 200);
    color: white;
}

.enable-p2btn {
    background-color: rgb(200, 100, 100);
    color: white;
}

.disable-btn {
    background-color: rgb(230, 230, 230);
    color: rgb(150, 150, 150);
}